*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
    text-decoration: none; color: inherit;
}
ul {
    list-style: none;
}
img {
    max-width: 100%;  display: block;
}
button {
    font: inherit; cursor: pointer; border: none; background: none;
}
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #E1D4C9;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;

    width: 94%;

    margin: 20px 40px 20px 40px;

    color: #403F3D;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;

}

.logo {
    width: 100px;
    height: 60px;
}

.nav {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-actions {
    display: flex;
    gap: 24px;

}

.menu-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.menu-link img {
    width: 20px;
    height: 20px;
}

.hero {
    background-image: url(assets/hero-banner.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    border-radius: 40px;

    padding: 100px;
    margin-left: 40px;
    margin-right: 40px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    width: 530px;
    gap: 40px;

    font-family: "Inter", sans-serif;

}

h1 {
    font-size: 72px;
    font-weight: 600;
    line-height:  105%;
    color: #E1D4C9;

}

em {
    color: #B0907A;
    font-style: italic;
}

.hero-text {
    font-size: 16px;
    font-weight: 400;
    line-height:  150%;
    color: #E1D4C9;
    font-family: "Inter", sans-serif;

}

.hero-button {
    width: 200px;
    height: 64px;

    border-radius: 100px;

    background-color: #E1D4C9;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height:  150%;
    
    counter-reset: #403F3D ;
}

.favorite {
    padding: 0 40px;
    margin-top: 100px;
    font-family: "Inter", sans-serif;
}

.favorite h2 {
    font-size: 60px;
    font-weight: 600;
    line-height: 125%;
    
    text-align: center;

    color: #403F3D;;
}

.favorite-slider {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 auto;
    position: relative;


}

.slider-button {
    position: absolute;

    border: 1px solid #665F55;
    border-radius: 100px;
    color: #665F55;

    cursor: pointer;

    width: 60px;
    height: 60px;
}

.slider-button-left {
    left: 0;
}

.slider-button-right {
    right: 0;
}

.coffee-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;

    text-align: center;

    width: 480px;


}


.coffee-card img {
    width: 480px;
    height: auto;
}

.coffee-text {
    font-size: 16px;
    font-weight: 400;
    line-height:  150%;
    color: #403F3D;
}

.coffee-card h3, .coffee-price {
    font-size: 24px;
    font-weight: 600;
    line-height:  125%;
    color: #403F3D;
}

.coffee-price {
    font-size: 24px;
    font-weight: 600;
    line-height:  125%;
    color: #403F3D;
}

.slider-pagination {
    display: flex;
    justify-content: center;
    gap: 12px;

    margin-top: 40px;
}

.pagination-item {
    display: block;
    
    width: 40px;
    height: 4px;

    border-radius: 100px;

    background-color: #C1B6AD;
}

.pagination-item.active {
    background-color: #665F55;
}

.about {
    margin: 100px 40px 100px 40px;

}

.about h2 {
    font-size: 60px;
    font-weight: 600;
    line-height: 125%;
    font-family: "Inter", sans-serif;
    color: #403F3D;
    letter-spacing: 1.5px;

    text-align: center;
}

.about-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.about-column {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.about-column img {
    display: block;

    width: 100%;

    border-radius: 20px;

    object-fit: cover;
}

.mobile-app {

    margin: 0 40px;
    

    display: flex;
    align-items: center;
    flex-wrap: wrap;
 
    
    gap: 100px;
}

.mobile-app-content {
    max-width: 630px;

    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mobile-app h2 {
    font-size: 60px;
    font-weight: 600;
    line-height: 125%;
    font-family: "Inter", sans-serif;
    color: #403F3D;
}

.mobile-app p {
    font-size: 16px;
    font-weight: 400;
    line-height:  150%;
    color: #403F3D;
    font-family: "Inter", sans-serif;
}

.app-buttons {
    display: flex;
    gap: 20px;
}

.app-buttons img {
    width: 200px;
}

.mobile-app-image {
    width: 630px;
    height: auto;


}
.mobile-app-image img {
    width: 630px;
    height: auto;
}

.footer {
    margin: 100px 40px 40px 40px;
    padding: 100px;

    background-color: #665F55;
    border-radius: 40px;

    color: #E1D4C9;
}

.footer-content {
    display: flex;
    align-items: center;
    gap: 100px;
}

.footer-social {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer-social h2 {
    font-size: 60px;
    font-weight: 600;
    line-height: 125%;
    font-family: "Inter", sans-serif;
    color: #E1D4C9;

}
.social-links{
    display: flex;
    gap: 12px;
}

.social-links img {
    width: 40px;
    height: auto;
}

.footer-contact {
    display: flex;
    flex-direction: column;
    gap: 40px;

    
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 16px;

    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height:  150%;
}

.footer-contact a {
    display: flex;
    align-items: center;
    gap: 8px;
}

.footer-hours {
    display: flex;
    align-items: center;
    gap: 8px;
}

.contact img {
    width: 20px;
    height: auto;
}

.footer-contact h3 {
    font-size: 24px;
    font-weight: 600;
    line-height:  125%;
    font-family: "Inter", sans-serif;
}

